body{
  background:#f1f5f9;
  overflow-x:hidden;
}

.card{
  border-radius:15px;
}

.nav-link{
  padding:12px;
  border-radius:10px;
  transition:0.3s;
}

.nav-link:hover{
  background:#2563eb;
}

.table-responsive{
  overflow-x:auto;
}

@media (max-width:768px){

  .navbar-brand{
    font-size:18px;
  }

  h2{
    font-size:24px;
  }

  .card h2{
    font-size:22px;
  }

}